@page "/contapagars/details"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using FarolFInanceiro.Models
@inject IDbContextFactory<FarolFInanceiro.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Detalhes</PageTitle>

<h1>Detalhes</h1>

<div>
    <h2>ContaPagar</h2>
    <hr />
    @if (contapagar is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DataCadastro</dt>
            <dd class="col-sm-10">@contapagar.DataCadastro</dd>
            <dt class="col-sm-2">Descricao</dt>
            <dd class="col-sm-10">@contapagar.Descricao</dd>
            <dt class="col-sm-2">Valor</dt>
            <dd class="col-sm-10">@contapagar.Valor</dd>
            <dt class="col-sm-2">DataVencimento</dt>
            <dd class="col-sm-10">@contapagar.DataVencimento</dd>
            <dt class="col-sm-2">DataPagamento</dt>
            <dd class="col-sm-10">@contapagar.DataPagamento</dd>
            <dt class="col-sm-2">Paga</dt>
            <dd class="col-sm-10">@contapagar.Paga</dd>
            <dt class="col-sm-2">ApplicationUserId</dt>
            <dd class="col-sm-10">@contapagar.ApplicationUserId</dd>
        </dl>
        <div>
            <a href="@($"/contapagars/edit?id={contapagar.Id}")" class="btn btn-warning">Editar</a> |
            <a href="@($"/contapagars")" class="btn btn-danger">Retornar</a>
        </div>
    }
</div>

@code {
    private ContaPagar? contapagar;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        contapagar = await context.ContasAPagar.FirstOrDefaultAsync(m => m.Id == Id);

        if (contapagar is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
