@page "/contarecebers/delete"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using FarolFInanceiro.Models
@inject IDbContextFactory<FarolFInanceiro.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Deletar</PageTitle>

<h1>Deletar</h1>

<p>Tem certeza de que deseja excluir este registro?</p>
<div>
    <h2>ContaReceber</h2>
    <hr />
    @if (contareceber is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DataCadastro</dt>
            <dd class="col-sm-10">@contareceber.DataCadastro</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Descricao</dt>
            <dd class="col-sm-10">@contareceber.Descricao</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Valor</dt>
            <dd class="col-sm-10">@contareceber.Valor</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DataVencimento</dt>
            <dd class="col-sm-10">@contareceber.DataVencimento</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DataRecebimento</dt>
            <dd class="col-sm-10">@contareceber.DataRecebimento</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Recebida</dt>
            <dd class="col-sm-10">@contareceber.Recebida</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ApplicationUserId</dt>
            <dd class="col-sm-10">@contareceber.ApplicationUserId</dd>
        </dl>
        <EditForm method="post" Model="contareceber" OnValidSubmit="DeleteContaReceber" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(contareceber is null)">Deletar</button> |
            <a href="/contarecebers" class="btn btn-warning">Retornar</a>
        </EditForm>
    }
</div>

@code {
    private ContaReceber? contareceber;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        contareceber = await context.ContasAReceber.FirstOrDefaultAsync(m => m.Id == Id);

        if (contareceber is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteContaReceber()
    {
        using var context = DbFactory.CreateDbContext();
        context.ContasAReceber.Remove(contareceber!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contarecebers");
    }
}
